$primary-color: #57a708;
$primary-color-highlight: rgba(87, 167, 8, 0.4);
$primary-color-highlight-solid: rgb(188, 220, 156);

$dialer-btn-border-color: $primary-color-highlight;
$call-btn-color: $primary-color;

$sms-bubble-background-color: #ecffd9;
$brand-font-color: #49166d;
$brand-font-color-highlight: rgba(73,22,109, 0.4);

$c2d-arrow-color: #66cc00;

$add-meeting-btn-color: $primary-color;
$add-meeting-btn-text-color: #FFFFFF;

$header-logo-width: 84px;
$header-logo-height: 18px;
