.copiedText {
  flex-grow: 1;
  color: #666666;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
  padding: 0 1px;
  /* For Firefox */
  white-space: pre-wrap;
  word-break: break-word;
  /* For Chrome and IE */
  word-wrap: break-word;
  max-height: 200px;
  display: block;
}

.copyButtonContainer {
  padding: 1px 0;
}

.copyButton {
  margin: 10px 0;
}
