@import 'normalize-css/normalize.css';
@import 'ringcentral-widget/lib/commonStyles/no-select';
@import 'ringcentral-widget/lib/commonStyles/colors';

.centerStyle {
  top: 50%;
  position: absolute;
}

.root {
  @include no-select;
  box-sizing: border-box;
  padding: 0;
  border-radius: 3px;
  position: fixed;
  display: block;
  visibility: visible;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  transition: visibility 0.2 0s, opacity 0.2s 0s linear, transform 0.1s 0s ease-in-out;
  z-index: 9999;
  box-shadow: 0px 0px 5px 1px #bec5d0;
}
.root.dragging {
  transition: opacity 0.1s 0s linear;
}

.root.closed,
.root.loading {
  visibility: hidden;
  opacity: 0;
}

.root .header {
  @include no-select;
  position: relative;
  height: 44px!important;
  line-height: 44px!important;
  min-width: 165px;
  text-align: center;
  cursor: move;
  z-index: 11;
}

.minimized .header {
  cursor: ew-resize;
}

@keyframes sparkle {
  from {background-color: inherit;}
  to {background-color: $primary-color-highlight-solid; }
}
.minimized.ringing .header {
  animation-name: sparkle;
  animation-duration: 0.45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.logo {
  @include no-select;
  @extend .centerStyle;
  left: 50%;
  height: 16px;
  width: 100px;
  margin-top: -8px;
  margin-left: -50px;
}

.presence {
  @extend .centerStyle;
  left: 20px;
  height: 14px;
  width: 14px;
  border-radius: 8px;
  margin-top: -7px;
  display: none;
  cursor: pointer;
}

.minimized .presence {
  left: 10px;
}

.Offline {
  display: block;
  background: #cdcdcd;
}

.Busy {
  display: block;
  background: #f95b5c;
}

.Available {
  display: block;
  background-color: #32ae31;
}

.presenceBar {
  display: none;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1.5px;
  background-color: #ffffff;
  transform-origin: 50% 50%;
  transform: translate(3px, 6px);
}

.DoNotAcceptAnyCalls {
  .presenceBar {
    display: block;
  }
}

.button {
  box-sizing: border-box;
  @extend .centerStyle;
  height: 20px;
  width: 20px;
  margin-top: -12px;
  border-radius: 3px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

.button:hover {
  border-color: #cccccc;
}

.toggle {
  right: 40px;
}

.minimized .toggle {
  right: 3px;
}

.minimizeIcon {
  position: absolute;
  box-sizing: border-box;
  left: 3px;
  bottom: 7px;
  width: 12px;
  height: 2px;
  border: 1px solid #888888;
}
.minimized .minimizeIcon {
  height: 12px;
  bottom: 3px;
}

.minimizeIconBar {
  width: 100%;
  height: 1px;
  background-color: #888888;
}
.close {
  right: 16px;
}
.minimized .close {
  display: none;
}
.closeIcon {
  position: relative;
  overflow: hidden;
  margin: 2px;
  width: 14px;
  height: 14px;
  :first-child, :last-child {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 6px;
    left: 0;
    background: #888888;
    border-radius: 1px;
  }
  :first-child {
    transform: rotate(45deg);
  }
  :last-child {
    transform: rotate(-45deg);
  }
}
.contentFrame {
  display: block;
  border: none;
  width: 0;
  height: 0;
}
.frameContainer {
  transition: width 0.1s 0s ease-in-out, height 0.1s 0s ease-in-out;
}
.dragOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10;
}
.root.dragging .dragOverlay {
  width: 500%;
  height: 500%;
  left: -200%;
  top: -200%;
}
