$primary-color: #5514B4;
$primary-color-highlight: rgba(0, 82, 142, 0.4);
$primary-color-highlight-solid: rgb(153, 186, 210);

$dialer-btn-border-color: $primary-color-highlight;
$call-btn-color: #5fb95c;

$sms-bubble-background-color: #e5edf3;
$brand-font-color: $primary-color;
$brand-font-color-highlight: $primary-color-highlight;

$c2d-arrow-color: #5514B4;

$add-meeting-btn-color: $primary-color;
$add-meeting-btn-text-color: #FFFFFF;

$header-logo-width: 108px;
$header-logo-height: 18px;
