$primary-color: #067ab4;
$primary-color-highlight: rgba(6, 122, 180, 0.4);
$primary-color-highlight-solid: rgb(155, 202, 225);

$dialer-btn-border-color: $primary-color-highlight;
$call-btn-color: #5fb95c;

$sms-bubble-background-color: #d5f3fd;
$brand-font-color: $primary-color;
$brand-font-color-highlight: $primary-color-highlight;

$c2d-arrow-color: #ffffff;

$add-meeting-btn-color: $primary-color;
$add-meeting-btn-text-color: #ffffff;

$header-logo-width: 100px;
$header-logo-height: 16px;
