@import '~@ringcentral-integration/widgets/lib/commonStyles/colors';
@import '~@ringcentral-integration/widgets/lib/commonStyles/full-size';
@import '~@ringcentral-integration/widgets/lib/commonStyles/text-ellipsis';

.root {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2px 2px 2px;
  font-family: Helvetica;
  border-top: 1px solid #e3e3e5;
  box-sizing: border-box;
  background-color: white;

  .attachments {
    display: none;
  }

  .toolbar {
    display: none;
    padding: 0 15px 0 5px;

    .inputTip {
      flex: 1;
      text-align: right;
    }
  }
}

.textField {
  padding-right: 50px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #e3e3e5;
  border-radius: 5px;
  margin: 0 10px 10px 10px;

  textarea {
    background: transparent;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    margin: 10px 0 0 10px;
    resize: none;
    border: none;
    outline: medium none!important;
    box-sizing: border-box;

    &::placeholder {
      color: #a9a9a9;
    }
  }
}

.sendButton {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

.supportAttachment {
  .textField {
    margin-top: 0;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .attachments {
    display: block;
    padding: 0 10px;
    max-height: 250px;
    overflow-y: auto;
  }

  .attachmentItem {
    display: inline-block;
    color: $night;
    font-size: 13px;
    border: solid 1px $smoke;
    border-radius: 4px;
    max-width: 250px;
    position: relative;
    padding-right: 32px;
    padding-left: 10px;
    line-height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    @include text-ellipsis;
  }

  .attachmentRemoveIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
}
