@import '~ringcentral-widgets/lib/commonStyles/colors.scss';
@import '~ringcentral-widgets/lib/commonStyles/fonts.scss';

.meetingList {
  display: block;
  @include secondary-font;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.meetingItem {
  padding: 10px 20px;
  border-top: 1px solid rgb(245, 246, 251);
  position: relative;
  box-sizing: border-box;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid rgb(245, 246, 251);
  }

  &:hover {
    background: $egg;
  }
}

.meetingName {
  color: $night;
  overflow: hidden;
  text-overflow: ellipsis;
  @include primary-font;
  line-height: 30px;
}

.meetingGroup {
  border-bottom: solid 1px $egg;

  &:last-child {
    margin-bottom: 20px;
  }
}

.meetingTime {
  line-height: 15px;
}

.dateName {
  @include primary-font;
  font-size: 12px;
  line-height: 30px;
  padding: 10px 20px;
  font-weight: 400;
  text-align: center;
}

.buttons {
  position: absolute;
  top: 0;
  right: 10px;
  height: 55px;
  flex-direction: row;
  align-items: center;
  background: $egg;
  display: none;

  .button {
    padding: 0 8px;
    min-width: 56px;
    height: 28px;
    font-size: 12px;
    border-radius: 16px;
    background-color: $primary-color;
    color: $snow;
  }
}

.meetingItem:hover {
  .buttons {
    display: flex;
  }
}
